li.text-center.list-group-item
  a(href='#user/{{id}}') {{pseudo}}
  a.accept.btn.btn-default.btn-xs.glyphicon.glyphicon-plus-sign(href='#')
  a.block.btn.btn-default.btn-xs.glyphicon.glyphicon-minus-sign(href='#')
