.panel.panel-success
  .panel-heading.text-center Add a friend
  ul.list-group
    li.list-group-item
      input#search_user_input.form-control.text-center(type='text', placeholder='Find someone')
  ul#search_user_results.list-group
