html(lang='en')
  head
    meta(charset='utf8')
    title Safebook
    // CSS files
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    // JS files
    script(type='text/javascript', src='js/jquery-2.1.1.js')
    script(type='text/javascript', src='js/jquery.autosize.js')
    script(type='text/javascript', src='js/handlebars-v2.0.0.js')
    script(type='text/javascript', src='js/underscore.js')
    script(type='text/javascript', src='js/backbone.js')
    script(type='text/javascript', src='js/sjcl.js')
    script(type='text/javascript', src='js/socket.io.js')
    script(type='text/javascript', src='js/app.js')

    // Login template
    script#logViewTemplate(type='text/template')
      include templates/login.jade

    // Login file progress bar template 1
    script#StartHashFileTemplate(type='text/template')
      include templates/startHash.jade

    // Login file progress bar template 2
    script#EndHashFileTemplate(type='text/template')
      include templates/endHash.jade

    // Home template
    script#homeViewTemplate(type='text/template')
      include templates/home.jade

    // User list template
    script#userListTemplate(type='text/template')
      include templates/userList.jade

    // User template
    script#userTemplate(type='text/template')
      include templates/user.jade

    // User request list template
    script#userRequestListTemplate(type='text/template')
      include templates/userRequestList.jade

    // User request template
    script#userRequestTemplate(type='text/template')
      include templates/userRequest.jade

    // User block list template
    script#userBlockListTemplate(type='text/template')
      include templates/userBlock.jade

    // User block template
    script#userBlockTemplate(type='text/template')
      include templates/userBlockList.jade

    // User search template
    script#userSearchTemplate(type='text/template')
      include templates/userSearch.jade

    // Search result template
    script#searchResultTemplate(type='text/template')
      include templates/searchResult.jade

    // Page list template
    script#pageListTemplate(type='text/template')
      include templates/pageList.jade

    // Message list template
    script#messageListTemplate(type='text/template')
      include templates/messageList.jade

    // UserTalk template
    script#userTalkTemplate(type='text/template')
      include templates/userTalk.jade

    // PageTalk template
    script#pageTalkTemplate(type='text/template')
      include templates/pageTalk.jade

    // PageUserList template
    script#pageLinkListTemplate(type='text/template')
      include templates/pageLinkList.jade

  body.container
    #header.row
      .col-sm-4
        a(href='#home')
          img.col-sm-offset-1(src='logo.png', style='margin-bottom: 10px; margin-top: 10px')
      .col-sm-6
        h1 This is the header !
      .col-sm-2
        a(href='#logout')
          h2 Logout
    #content.row
